<div class="contacto-section">
  <div class="conoce-section">
      <h2 class="conoce-titulo">Conoce nuestros servicios</h2>
      <div class="container conoce-layout">
        <div class="conoce-imagen">
          <img src="assets/Conoce.png" alt="Osito programando">
        </div>
        <div class="cards-column">
          <a href="/web" class="servicio-card">
            <div class="servicio-texto">
              <h3 class="servicio-title">Desarrollo web profesional</h3>
              <p class="servicio-desc">Tu sitio web no es solo tu carta de presentación… es tu mejor vendedor, trabaja 24/7.</p>
            </div>
            <div class="servicio-button">
              <div class="boton">&#8594;</div>
            </div>
          </a>

          <a href="/movil" class="servicio-card">
            <div class="servicio-texto">
              <h3 class="servicio-title">Desarrollo de aplicaciones móviles</h3>
              <p class="servicio-desc">Una gran app no solo impresiona… automatiza, fideliza y multiplica tu impacto.</p>
            </div>
            <div class="servicio-button">
              <div class="boton">&#8594;</div>
            </div>
          </a>

          <a href="/transformación" class="servicio-card">
            <div class="servicio-texto">
              <h3 class="servicio-title">Transformación digital para negocios</h3>
              <p class="servicio-desc">La tecnología no es opcional: o te adaptas o te vuelves invisible.
                Soluciones reales a problemas reales.</p>
            </div>
            <div class="servicio-button">
              <div class="boton">&#8594;</div>
            </div>
          </a>

          <a href="/otros" class="servicio-card">
            <div class="servicio-texto">
              <h3 class="servicio-title">Otros servicios</h3>
              <p class="servicio-desc">Realidad Aumentada, Virtual o Mixta para capacitación o productividad. 
                Diseño centrado en el usuario y inteligencia artificial (Próximamente)</p>
            </div>
            <div class="servicio-button">
              <div class="boton">&#8594;</div>
            </div>
  </a>
</div>

      </div>
    </div>
  <div class="espacio"></div>
  <section class="formulario-container" id="formulario-contacto">
    <app-formulario></app-formulario> 
  </section>
  <div class="espacio"></div>
  <section class="decisión-section" id="decisión-contacto">
    <h1 class="decisión-titulo">Esto pasará si no decides automatizar</h1>
    <div class="container decisión-layout">
      <div class="decisión-imagen">
      <img src="assets/osoTriste.png" alt="Osito triste">
      </div>
        <ul class="decisión-column">
          <li>
          <span class="bullet"><span class="checkmark">✔️</span></span>
          Estás <u>dejando de vender</u> mientras duermes.
        </li>
        <li>
          <span class="bullet"><span class="checkmark">✔️</span></span>
          Tus empleados <u>no estarán contentos</u> haciendo tareas repetitivas que un sistema haría más rápido.
        </li>
        <li>
          <span class="bullet"><span class="checkmark">✔️</span></span>
          Tus competidores ya están digitalizando. Tú decides si <u>alcanzarlos o desaparecer.</u>
        </li>
        <li>
          <span class="bullet"><span class="checkmark">✔️</span></span>
          <u>Gastarás tu tiempo</u> en tareas repetitivas en lugar de usar ese tiempo para estrategia, expansión o simplemente vivir mejor. 
        </li>
        <li>
          <span class="bullet"><span class="checkmark">✔️</span></span>
          Estarás atrapado en un bucle infinito <u>sin crecimiento. </u> 
        </li>
        <li>
          <span class="bullet"><span class="checkmark">✔️</span></span>
          Sin datos reales no podrás tomar <u>decisiones importantes</u>
        </li>
        <li>
          <span class="bullet"><span class="checkmark">✔️</span></span>
          Las nuevas generaciones prefieren <u>prefieren hacer todo desde su celular.</u> 
        </li>
        <li>
          <span class="bullet"><span class="checkmark">✔️</span></span>
          Estás <u>perdiendo eficiencia interna, y con ello dinero. </u>
        </li>
        <li>
          <span class="bullet"><span class="checkmark">✔️</span></span>
          La competencia crecerá a ritmos mas altos, <u>dejándote atrás. </u>
        </li>
        <li>
          <span class="bullet"><span class="checkmark">✔️</span></span>
          Serás esclavo de tu negocio <u>sin ver resultados.  </u>
        </li>
        <li>
          <span class="bullet"><span class="checkmark">✔️</span></span>
          Aumento en <u>eficiencia</u>
        </li>
        <li>
          <span class="bullet"><span class="checkmark">✔️</span></span>
          Si hoy no tienes una base digital, <u>mañana estarás muy atrás para ponerte al día.</u>
        </li>
        <li>
          <span class="bullet"><span class="checkmark">✔️</span></span>
          <u>No existirás para el mercado</u> que busca primero online. 
        </li>
        <li>
          <span class="bullet"><span class="checkmark">✔️</span></span>
          <u>No generarás ninguna reputación</u>, ni opiniones ni reseñas de clientes.
        </li>
        </ul>
    </div>
    
  </section>
  <div class="espacio"></div>
  <section class="final-inicio" id="final-inicio">
    <div class="final-card">
      <div class="final-layout">
        <div class="final-texto">
          <h3 class="titulo-final">Contacta con nosotros y comienza la transformación de tu negocio.</h3>
          <p class="descripcion-final">
            Únete a las organizaciones que han decidido iniciar el cambio hacia la transformación digital y comienza a crecer sin límites, asegurando un futuro para tu negocio con más ganancias y menos estrés. 
          </p>
          <div class="final-boton">
            <div class="button-valor" (click)="scrollTo('formulario-contacto')">Contáctanos</div>
          </div>
        </div>
        <div class="final-imagen">
          <img src="assets/ositoSeguro.png" alt="Osito seguro">
        </div>
      </div>
    </div>
  </section>

</div>
