/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Quicksand', sans-serif;
}
h1 {
  font-weight: 700; /* Bold */
}

p {
  font-weight: 300; /* Ligero */
}
header{
    background-color: #B8D0E3;
    
}
body{
    background-color: #E3D2B8;
}
body {
  margin: 0;
  padding: 0;
  background-color: #E3D2B8;
}
